# If the machine is equiped by a temperature controlled fan in the chamber
# it will be used to measure and control the chamber heatsoak
[gcode_macro _USER_VARIABLES]
variable_chamber_temperature_fan_enabled: True
variable_chamber_temperature_fan_name: "Chamber"
variable_chamber_temperature_fan_end_print_temp: 25
gcode:


[temperature_fan Chamber]
pin: CHAMBER_FAN
sensor_pin: CHAMBER_TEMPERATURE
sensor_type: ATC Semitec 104GT-2
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
control: pid
pid_kp: 100.0
pid_ki: 1.0
pid_kd: 10.0
min_temp: 0
max_temp: 75
max_speed: 1.00
min_speed: 0.00
off_below: 0.10